body{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: rgb(209, 189, 182);
}

.titulo{
    text-align: center;
    line-height: 30px;
    background-color: rgba(170, 169, 165);
    text-shadow: 2px 2px rgb(178, 130, 116);
    position: relative;
    width: 50%; 
    left: 25%;
    box-shadow: 3px 3px rgb(178, 130, 116) ;
}

#intro{
    font-weight: bolder;
    font-size: 18px;
}

#minha-foto{
    width: 200px;
    float: left;
    position: relative;
    box-shadow: 3px 3px rgb(178, 130, 116) ;
    margin-top: 20px;
    margin-right: 20px;
    z-index: 2;
}

.descricao-texto{
    box-shadow: 3px 3px rgb(178, 130, 116);
    position: relative;
    z-index: 1;
    top: 20px;
    width: 90%;
    padding-bottom: 10px;

}

